*{
    width:1440px;
    margin: 0;
    padding: 0;
    color: white;
}


header{
    display: flex;
    width: 1440px;
    height: 90px;
    gap: 0px;
    opacity: 0px;
    background: #F2785CB2 70%;
    box-shadow: 0px 4px 4px 0px #0D606F80;
    z-index: 1;
}

.vector{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 26px;
    margin-left: 120px;
    gap: 0px;
    opacity: 0px;     
}

.logo{
    white-space: nowrap;
    position: absolute;
    width: 180px;
    height: 31px;
    top: 25px;
    left: 156px;
    gap: 0px;
    opacity: 0px;    
    font-family: Magra;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.88px;
    text-align: left;    
}

nav{
    position: absolute;
    width: 527px;
    height: 21px;
    top: 35px;
    left: 494px;
}

ul{
    display:flex;
    list-style-type:none;
    gap: 42px;
    opacity: 0px;
    width: 527px;
    height: 21px;
}

li{    
    white-space: nowrap;
    font-family: 'Red Hat Text';
    font-size: 16px;
    font-weight: 500;
    line-height: 21.17px;
    text-align: left;
}

.login{
    background: #0D606F;
    position: absolute;
    width: 103px;
    height: 41px;
    margin-top: 25px;
    margin-left: 1217px;
    /* padding: 10px 229px 10px 229px; */
    gap: 10px;
    border-radius: 10px;
    border: none;
    opacity: 0px;    
    box-shadow: 0px 2px 3px 0px #0D606F29;
    box-shadow: 0px 4px 4px 0px #00000040; 
    font-family: 'Red Hat Text';
    font-size: 16px;
    font-weight: 500;
    line-height: 21.17px;
    text-align: center;       
}

.tripplan{
    width: 1440px;
    height: 765px;
    gap: 0px;
    opacity: 0px;

}

.overlay{
    margin-top: -90px;
    width: 1440px;
    height: 765px;
    gap: 0px;
    opacity: 0px;   
    z-index: -1; 
    position: absolute;
}

.title{
    position: absolute;
    width: 892px;
    height: 422px;
    top: 122px;
    left: 120px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;    
}

.preTitle{
    position: absolute;
    width: 723px;
    height: 24px;
    top: 346px;
    left: 120px;
    gap: 0px;
    opacity: 0px;    
    font-family: Aleo;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    text-align: left; 
    white-space: nowrap;    
}

.likeDo{
    position: absolute;
    width: 892px;
    height: 95px;
    top: 416px;
    left: 120px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;  
    background: #FFFFFFB2;  
    border:none;
}

.likeDo::placeholder{
    position: absolute;
    width: 560px;
    height: 22px;
    top: 30.5px;
    left: 41px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;    
    color: #F2785C;
}

.start{
    position: absolute;
    width: 228px;
    height: 59px;
    top: 434px;
    left: 766px;
    padding: 10px 32px 10px 32px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    border: none;
    background: #0D606F;
    box-shadow: 0px 2px 3px 0px #0D606F29;
    box-shadow: 0px 0px 3px 0px #0D606F14;
    font-family: 'Red Hat Text';
    font-size: 24px;
    font-weight: 500;
    line-height: 31.75px;
    text-align: left;
}

.steps{
    position: absolute;
    width: 1177px;
    height: 247px;
    top: 845px;
    left: 131px;
    gap: 0px;
    opacity: 0px;
}

.step{
    position: absolute;
    width: 611px;
    height: 53px;
    left: 283px;
    gap: 0px;
    opacity: 0px;    
    color:#F2785C;
    font-family: 'Red Hat Text';
    font-size: 40px;
    font-weight: 500;
    line-height: 52.92px;
    text-align: left;
    
}

.frames{
    position: absolute;
    width: 1177px;
    height: 154px;
    top: 93px;
    gap: 0px;
    opacity: 0px;
    
}

.frame24{
    position: absolute;
    width: 247px;
    height: 154px;
    gap: 0px;
    opacity: 0px;    
}

.rectangle13{
    border-radius: 16px;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 73px;
    gap: 0px;
    opacity: 0px;    
    background: #F2785C;

}

.bike{
    width: 50px;
    height: 45px;
    margin-top: 28px;
    margin-left: 25px;
    gap: 0px;
    opacity: 0px;
}

.text24{
    white-space: nowrap;
    position: absolute;
    width: 247px;
    height: 24px;
    top: 130px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 19.5px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #0D606F;
}

.frame25{
    position: absolute;
    width: 222px;
    height: 154px;
    left: 478px;
    gap: 0px;
    opacity: 0px;    
}

.rectangle14{
    border-radius: 16px;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 61px;
    gap: 0px;
    opacity: 0px;    
    background: #F2785C;
}

.days{
    width: 52px;
    height: 52px;
    margin-top: 24px;
    margin-left: 24px;
    gap: 0px;
    opacity: 0px;    
}

.text25{
    position: absolute;
    white-space: nowrap;
    width: 222px;
    height: 24px;
    top: 130px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 19.5px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #0D606F;
}

.frame26{
    position: absolute;
    width: 317px;
    height: 154px;
    left: 860px;
    gap: 0px;
    opacity: 0px;    
}

.rectangle15{
    border-radius: 16px;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 109px;
    gap: 0px;
    opacity: 0px;    
    background: #F2785C;
}

.airplane{
    width: 60px;
    height: 45px;
    margin-top: 28px;
    margin-left: 20px;
    gap: 0px;
    opacity: 0px;    
}

.text26{
    white-space: nowrap;
    position: absolute;
    width: 317px;
    height: 24px;
    top: 130px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 19.5px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#0D606F    
}

.destinations{
    position: absolute;
    width: 2520px;
    height: 800px;
    top: 1288px;
    left: -540px;
    gap: 60px;
    opacity: 0px;
    font-family: "Red Hat Text";
    font-size: 32px;
    font-weight: 500;
    line-height: 42.34px;
    text-align: left;
    
}

.popular{
    white-space: nowrap;
    position: absolute;
    width: 501px;
    height: 53px;
    top: 1189px;
    left: 470px;
    gap: 0px;
    opacity: 0px;
    font-family:'Red Hat Text';
    font-size: 40px;
    font-weight: 500;
    line-height: 52.92px;
    text-align: left;
    color: #f2785c;
}

.spainIMG{
    position: absolute;
    width: 800px;
    height: 800px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;    
}

.spain{
    position: absolute;
    width: 95px;
    height: 42px;
    top: 718px;
    left: 15px;
    gap: 0px;
    opacity: 0px;    
}

.japanIMG{
    position: absolute;
    width: 800px;
    height: 800px;
    left: 860px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;    
}

.japan{
    position: absolute;
    width: 108px;
    height: 42px;
    top: 718px;
    left: 875px;
    gap: 0px;
    opacity: 0px;
    
}

.usaIMG{
    position: absolute;
    width: 800px;
    height: 800px;
    left: 1720px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;    
}

.usa{
    position: absolute;
    width: 66px;
    height: 42px;
    top: 718px;
    left: 1735px;
    gap: 0px;
    opacity: 0px;    
}

.frame6{
    display: flex;
    position: absolute;
    width: 80px;
    height: 20px;
    top: 2112px;
    left: 681px;
    gap: 10px;
    opacity: 0px;
}

.ellipse1{
    width: 20px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    background: #F2785C80;
    border-radius: 50px;
}

.ellipse2{
    width: 20px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    background: #F2785C;
    border-radius: 50px;
}

.ellipse3{
    width: 20px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    background: #F2785C80;
    border-radius: 50px;
}

.find{
    justify-content: center;
    position: absolute;
    width: 228px;
    height: 59px;
    top: 2172px;
    left: 607px;
    margin: 10px 32px 10px 32px;
    gap: 10px;
    border-radius: 10px ;
    opacity: 0px;
    background: #0D606F;
    box-shadow: 0px 2px 3px 0px #0D606F29;
    box-shadow: 0px 0px 3px 0px #0D606F14;
    border: none;
    font-family: 'Red Hat Text';
    font-size: 24px;
    font-weight: 500;
    line-height: 31.75px;
    text-align: right;
}

.right-arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 8.75px 2.5px 8.75px 2.5px;
    gap: 0px;
    opacity: 0px;    
    top: 8.75px;
    left: 2.5px;
}

.arrow{
    position: absolute;
    width: 35px;
    /* height: 22.5px; */
    
    
    gap: 0px;
    opacity: 0px;
    
}

.secondOl{
    position: absolute;
    width: 1442px;
    height: 1331px;
    top: 2404px;
    gap: 0px;
    opacity: 0px;
    z-index: -1;    
}

.Stories{
    width: 1201px;
    height: 1322px;
    top: 2311px;
    left: 119px;
    gap: 0px;
    opacity: 0px;
    z-index: 1;    
}

.travel-stories{
    position: absolute;
    white-space: nowrap;
    width: 335px;
    height: 53px;
    top: 2311px;
    left: 552px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Red Hat Text';
    font-size: 40px;
    font-weight: 500;
    line-height: 52.92px;
    text-align: left;
    color:#F2785C;
}

.story1{
    white-space: nowrap;
    position: absolute;
    width: 1200px;
    height: 250px;
    top: 2444px;
    left: 120px;
    gap: 0px;
    border-radius: 16px ;
    opacity: 0px;
    
}

.text1{
    position: absolute;
    width: 760px;
    height: 184px;
    top: 66px;
    left: 440px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#0D606F;
}

a{
    font-family: Aleo;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;   
    color: #0D606F; 
}

.photosTitle{
    position: absolute;
    white-space: nowrap;
    position: absolute;
    width: 760px;
    height: 42px;
    left: 440px;
    gap: 0px;
    opacity: 0px;  
    color: #0D606F;  
    font-family: Aleo;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;    
}

.river{
    position: absolute;
    width: 400px;
    height: 250px;
    gap: 0px;
    border-radius: 16px ;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #0D606F;
}

.story2{
    white-space: nowrap;
    position: absolute;
    width: 1200px;
    height: 250px;
    top: 280px;
    gap: 0px;
    border-radius: 16px ;
    opacity: 0px;   
    color:#0D606F;

}

.parkTitle{
    position: absolute;
    width: 760px;
    height: 42px;
    top: 2444px;
    left: 560px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color:#0D606F;        
}

.text2{
    position: absolute;
    width: 760px;
    height: 184px;
    top: 2510px;
    left: 560px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#0D606F;
}

.road{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 2444px;
    left: 120px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #0D606F;
}

.story3{
    white-space: nowrap;
    position: absolute;
    width: 1200px;
    height: 250px;
    top: 3004px;
    gap: 0px;
    border-radius: 16px ;
    opacity: 0px;
    color:#0D606F;
}

.text3{
    position: absolute;
    width: 760px;
    height: 184px;
    top: 66px;
    left: 560px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#0D606F;
}

.mountains{
    position: absolute;
    width: 400px;
    height: 250px;
    left: 120px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #0D606F;    
}

.mountainsTitle{
    position: absolute;
    width: 760px;
    height: 42px;
    left: 560px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: #0D606F;       
}

.story4{
    white-space: nowrap;
    position: absolute;
    width: 1200px;
    height: 250px;
    left: 119px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px; 
    color:#0D606F;

}

.text4{
    position: absolute;
    width: 760px;
    height: 184px;
    top: 2510px;
    left: 440px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#0D606F;
}

.bus{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 2444px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #0D606F; 
}

.journeyTitle{
    position: absolute;
    width: 760px;
    height: 42px;
    top: 2444px;
    left: 440px;
    gap: 0px;
    opacity: 0px;
    font-family: Aleo;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color:#0D606F;       
}

.f4{
    position: absolute;
    width: 228px;
    height: 59px;
    top: 3574px;
    left: 608px;
    padding: 10px 32px 10px 32px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 2px 3px 0px #0D606F29;
    box-shadow: 0px 0px 3px 0px #0D606F14;
    border: none;
    background: #0D606F;
    font-family: "Red Hat Text";
    font-size: 24px;
    font-weight: 500;
    line-height: 31.75px;
    /* text-align: left; */
    
}

.secondOverlay{
    width: 1442px;
    height: 1331px;
    top: 2404px;
    gap: 0px;
    opacity: 0px;    
}

.bg{
    position: absolute;
    width: 1445px;
    height: 1270px;
    top: 2404px;
    gap: 0px;
    opacity: 0px;    
    background: #FFFFFFB2;
}

footer{
    position: absolute;
    width: 728.96px;
    height: 33.65px;
    top: 3688px;
    left: 590px;
    gap: 0px;
    opacity: 0px;    
}

.end{
    position: absolute;
    width: 260px;
    height: 21px;
    top: 7px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Red Hat Text';
    font-size: 16px;
    font-weight: 500;
    line-height: 21.17px;
    text-align: left;      
}

.socialMedia{
    display: flex;
    position: absolute;
    width: 140.96px;
    height: 33.65px;
    left: 588px; 
    gap: 20px;
    opacity: 0px;
    
}

.inst{
    width: 33.65px;
    height: 33.65px;  
}

.tube{
    width: 33.65px;
    height: 33.65px;

}

.twit{
    width: 33.65px;
    height: 33.65px;   
}